
.iceberg{
    z-index: 10;
    border: 1px solid #000;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;

}


.mai____n___kjhgh__npoiuytrTYH{
    width: 450px;
    height: 400px;
    background-color: rgb(244, 244, 244);
    opacity: 1;
    position: absolute;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block; 
}

.tip{
    height: 40px;
}

.txt_em__l_kjhgtyH{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.txt_mn_eml{
        font-weight: 600;
        color: #5268ff;
        cursor: default;
}

.proagn{
    text-align: center;
    display: block;
    font-size: 12.4px;
    line-height: 1.1em;
    margin-top: -3px;
    font-family: Arial, Helvetica, sans-serif;
}

.eml_wrppe____r{
    padding-left: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-top: 21px;
}

.pswd{
    outline: none;
    border: 1px solid #9f9f9f;
    padding: 9px 5px;
    transition: all .2s ease;
}

.pswd:focus{
    border: 1px solid #000;
}

.btn_wrap{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.btn{
    background-color: #5268ff;
    width: 250px;
    border-radius: 70px;
    text-align: center;
    color: #fff;
    border: none;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.err{
    color: #bb1102;
    line-height: 1em;
    font-size: 15px;
    text-align: center;
    padding: 1px 12px;
}

.ice_foote__r_kjhgyjkFGyuiklm{
    left: 0;
    position: absolute;
    right: 0;
    margin: auto;
    color: #797c7f;
    text-align: center;
    font-size: 12px;
    bottom: 5px;
}